### Common Build Deploy ###
**/manifest-generated.yml
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### Build Output Directories (Combined) ###
build/
bin/
classes/
out/
target/
log/

### Gradle ###
.gradle/

### Maven ###
.mvn/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.settings/
.classpath
.project
.metadata
.springBeans

### VS Code ###
.vscode/

### Node/NPM ###
node_modules/
dist/
typings/
coverage/
jspm_packages/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

### OS Specific ###
.DS_Store
Thumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/